@page "/using-components" 
<div class="row">
    <div class="col s12"><h3>Using Components</h3></div>
    <div class="col s6">
        <BasicCard Title="A Component">
            <Message>The basic building blocks of a Blazor app are components.</Message>
        </BasicCard>
    </div>
    <div class="col s6">
        <BasicCard Title="Another Component">
            <Message>In this example, a card is its own component. And this page consists of multiple card components.</Message>
        </BasicCard>
    </div>
    <div class="col s6">
        <BasicCard Title="Component Parameters #1">
            <Message>Component parameters allow for a component to be customized.</Message>
        </BasicCard>
    </div>
    <div class="col s6">
        <BasicCard Title="Component Parameters #2">
            <Message>For example, title and message are the parameters which allow each of these cards to display different text.</Message>
        </BasicCard>
    </div>
</div>


@code {

}
